<!-- Modal to load file -->
<form role="form" class="form">
    <div id="load-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Load form</h4>
                </div>
                <div class="modal-body" id="load-form-body">
                    <div class="form-group">
                        <label for="fileinput" class="col-md-2 control-label">File</label>
                        <div class="col-md-4">
                            <input id="fileinput" name="filebutton" class="input-file" type="file" />
                        </div>
                    </div>
                </div>  
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>